:root {
  --main-white-color: #ffffff;
  --main-text-color: #757575;
  --main-title-color: #212121;
  --accent-color: #2196f3;
  --second-bg-color: #f5f4fa;
  --first-bg-color: #2f303a;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  width: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  visibility: visible;
  opacity: 1;
  transition: width var(--main-transition), opacity var(--main-transition), visibility var(--main-transition);
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 1%;
  left: 93%;
}

.close-icon {
  width: 18px;
  height: 18px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.input-title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color var(--main-transition);
}
.form-input:focus {
  outline-color: var(--accent-color);
}

.input-field {
  margin-bottom: 10px;
}

.form-area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: outline-color var(--main-transition);
}
.form-area:focus {
  outline-color: var(--accent-color);
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}
.checkbox-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-color);
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--main-transition), border-color var(--main-transition);
}

.check-icon {
  fill: transparent;
  transition: fill var(--main-transition);
}
.input-checkbox:checked + .checkbox-text .check-icon {
  fill: var(--main-white-color);
}

.input-checkbox:checked + .checkbox-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.input-policy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-policy {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.imput-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--main-transition);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-button {
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--main-transition);
}
.form-button:focus, .form-button:hover {
  background-color: #188CE8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-header {
  display: flex;
}

.navigation,
.navigation__list,
.contacts {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo_accent {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.navigation__link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--main-transition);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__list .navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__list .link.current {
  position: relative;
  color: var(--accent-color);
}
.navigation__list .link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--main-transition);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill var(--main-transition);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts.contact {
  margin-left: auto;
}

.hero {
  background-color: var(--first-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  transition: background-color var(--main-transition), color var(--main-transition);
}
.hero__btn:hover, .hero__btn:focus {
  color: var(--main-white-color);
  background-color: #188ce8;
}

.benefits {
  padding-top: 94px;
}

.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.benefits__item:first-child {
  margin-left: 0;
}

.benefits__icon-box {
  height: 120px;
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.benefits__pre-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.benefits__text {
  display: block;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.benefits__list {
  display: flex;
}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples-list {
  display: flex;
}

.examples-item {
  position: relative;
  margin-left: 30px;
}
.examples-item:first-child {
  margin-left: 0;
}

.examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.examples-box {
  position: absolute;
  bottom: 0%;
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.examples-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.team {
  background-color: var(--second-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-item {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 4);
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:first-child {
  margin-left: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-pre-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--main-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  align-items: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: background-color var(--main-transition);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill var(--main-transition);
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: var(--main-white-color);
}

.section-clients {
  background-color: var(--main-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  width: 170px;
  justify-content: center;
  align-items: center;
  font-size: 0;
  transition: border var(--main-transition);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill var(--main-transition);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--first-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  margin-bottom: 20px;
}

.footer-text {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  margin-bottom: 9px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-mail {
  display: block;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tell {
  display: block;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow {
  margin-left: 70px;
  justify-content: center;
}

.follow-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.follow-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.follow-item {
  align-items: center;
}

.follow-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--main-transition);
}
.follow-link:hover, .follow-link:focus {
  background: var(--accent-color);
}

.follow-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-white-color);
  transition: fill var(--main-transition);
}

.sub {
  margin-left: auto;
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.sub-box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.sub-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding-left: 16px;
}
.sub-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 23px;
  padding-left: 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
}

.sub-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.portfolio-item {
  margin-left: 8px;
}
.portfolio-item:first-child {
  margin-left: 0;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--second-bg-color);
  transition: color var(--main-transition), background-color var(--main-transition), box-shadow var(--main-transition);
  border-radius: 4px;
  padding: 6px 22px;
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--main-transition);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-info {
  background: #ffffff;
  border-top: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-left: 24px;
  margin-right: 24px;
}

.product-thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--main-transition);
  background: rgba(33, 150, 243, 0.9);
}
.project-item:hover .product-overlay {
  transform: translateY(0%);
}

.product-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */