:root {
    --main-white-color: #ffffff;
    --main-text-color: #757575;
    --main-title-color: #212121;
    --accent-color: #2196f3;
    --second-bg-color: #f5f4fa;
    --first-bg-color: #2f303a;
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }