.benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1199px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .benefits__item {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
  
    @media screen and (min-width:1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
  
  .benefits__icon-box {
    display: flex;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
  
  
 
  .benefits__pre-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--main-title-color);
  
    margin-bottom: 10px;
    @media screen and (max-width:767px) {
      text-align: center;
    }
  }
  
  .benefits__text {
    display: block;
    letter-spacing: 0.03em;
  
    color: var(--main-text-color);
  }
  
  .benefits__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    @media screen and (min-width:480px) {
        
    }
  }