.section-clients {
    background-color: var(--main-white-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    @media screen and (min-width:1199px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  
    color: #212121;
  }
  
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }


  .clients-item {
    width: 100%;
    @media screen and (max-width:767px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width:1200px) {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
  


  .clients-link {
    display: flex;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    height: 92px;
    justify-content: center;
    align-items: center;
    font-size: 0;
    transition: border var(--main-transition);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);}
  }
  
  .clients-icon {
    fill: #afb1b8;
    transition: fill var(--main-transition);
    .clients-link:hover &,
    .clients-link:focus & {
      fill: var(--accent-color);
    }
  }
  