.footer {
    background-color: var(--first-bg-color);
  
    padding-top: 60px;
    padding-bottom: 60px;
    & .container {
      display: flex;
      align-items: baseline;
    }
  }
  

  
  .footer-logo {
    display: block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    color: var(--main-white-color);
  
    margin-bottom: 20px;
  }
  
  .footer-text {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--main-white-color);
  
    margin-bottom: 9px;
  }
  
  .footer-item {
    margin-bottom: 9px;
  }
  
  .footer-mail {
    display: block;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-tell {
    display: block;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
  }


  
  
  .follow {
    margin-left: 70px;
    justify-content: center;
  }
  
  .follow-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--main-white-color);
  }
  
  .follow-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .follow-item {
    align-items: center;
  }
  
  .follow-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--main-transition);
    &:hover,
    &:focus {
      background: var(--accent-color);
    }
  }
  

  
  .follow-icon {
    width: 20px;
    height: 20px;
    fill: var(--main-white-color);
    transition: fill var(--main-transition);
  }




  .sub {
    margin-left: auto;
  }

  .sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-white-color);

  }


  .sub-box {
    display: flex;  
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;

  }

  .sub-email {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding-left: 16px;
    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      align-items: center;
      letter-spacing: 0.03em;
  
      color: rgba(255, 255, 255, 0.6);
    }
  }

 


  .sub-button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 23px;

    padding-left: 28px;
    
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
   
    letter-spacing: 0.06em;

    color: var(--main-white-color);

  }

  .sub-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }